{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'artist/css/style.css' %}">
</head>
<body>
    <h1 class="title">
        artist名:Ado
    </h1>
    <div class="main">
        <!----------- artist情報 ----------->
        <div class="aritst">
            <div class="sub">
                <p class="aimg">
                    <!-- <img src="{% static "images/aaa.jpg"%}" alt="Ado"> -->
                    <img src="{{aaa.images}}" alt="Ado">
                </p>
                <p class="detail">
                    映画ONEPIECE FILM REDの主題歌にして本作のメインヒロインであるウタが歌う劇中歌。ウタの歌唱担当であるAdoの曲でもある。 
                    楽曲提供は中田ヤスタカ。...
                </p>
            </div>
        </div>
        <!----------- Youtube ----------->
        <div class="youtube">
            <div class="music">
                <ul class="douga">
                    <li><img src="{{bbb.images}}" alt="新時代"></li>
                    <li><img src="{{ccc.images}}" alt="うっせぇわ"></li>
                    <li><img src="{{ddd.images}}" alt="踊(Odo)"></li>
                </ul>
                <div class="youtitle">
                    <ul class="search1">
                        <li>【Ado】New Cenesis/新時代（UTA from ONE PIECE FILM RED）</li>
                        <li>youtube.com</li>
                        <li>2022/6/15</li>
                    </ul>
                    <ul class="search2">
                        <li>【Ado】うっせぇわ（Ussewa）- Youtube</li>
                        <li>youtube.com</li>
                        <li>2020/10/23</li>
                    </ul>
                    <ul class="search3">
                        <li>【Ado】踊（Odo）- Youtube</li>
                        <li>youtube.com</li>
                        <li>2021/4/27</li>
                    </ul>
                </div>
            </div>
            <input type="submit" value="もっと見る" class="more">
        </div>
    </div>
</body>

<!----------- LIVE ----------->
<footer>
    <div class="status">
        
    </div>
    <div class="live">
        <div class="info">
            ★2022.12.2(金)-2023.1.10(火)
            ♪神奈川県・福岡県・北海道・東京都・愛知県・大阪府
        </div>
        <div class="ticket">
            <ul class="place">
                <li class="placeA">2022.12.2(金) 神奈川県 KT Zeep Yokohama</li>
                <li class="placeB">2022.12.8(木) 福岡県 Zeep Fukuoka</li>
                <li class="placeC">2022.12.14(水) 北海道 Zeep Sapporo</li>
            </ul>
            <div class="submit">
                <input class="close" type="submit" value="予定枚数終了">
                <input class="open" type="submit" value="販売中">
                <input class="reserve" type="submit" value="販売予定">
            </div>
        </div>
    </div>
</footer>
</html>